.screen {
  border: grey 1px solid;
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 3px;
  background-color: #E6F6F4;
  padding: 0.5rem 1rem;
  font-family: 'ProggySquareTTSZ';
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.predictedWords {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}